<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>Projeto Unisys</title>
</h:head>
<h:body>
	<h:outputText value="TESTE INICIAL" />
	<h:outputText value="#(paginaPrincipalMB.mensagem)" />
</h:body>
</html>